@using PiProject.web.Models.Login



@model LoggerModel
@{
	ViewBag.Title = "LoginPage";
	Layout = "~/Views/Login/_LayoutLogin.cshtml";
}
@Styles.Render("~/content/LoginStyle.css") 


<h2>LoginPage</h2>


@using (Html.BeginForm("VerifyCredentials", "Login", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{

	<div class="form-group">
		@Html.LabelFor(Logger => Logger.email, new { @class = "col-md-2 control-label" })
		@Html.TextBoxFor(Logger => Logger.email, new { @class = "form-control" })
		@Html.ValidationMessageFor(Logger => Logger.email, "", new { @class = "text-danger" })
		
	</div>
	<div class="form-group">
		@Html.LabelFor(Logger => Logger.password, new { @class = "col-md-2 control-label" })
		@Html.PasswordFor(Logger => Logger.password, new { @class = "form-control" })
		@Html.ValidationMessageFor(Logger => Logger.password, "", new { @class = "text-danger" })
	</div>

	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<input type="submit" value="Log in" class="btn btn-primary" />
		</div>
	</div>

}





