@model PiProject.web.Models.Collaborator.CollaboratorModel
@{
	ViewBag.Title = "Dashboard";

	Layout = "~/Views/Collaborator/_LayoutCollaboratorDashboard.cshtml";
}
@Styles.Render("~/content/CollaboratorDashboard.css")



<div class="bodyRender">
	<div class="performance_aside">
		<div class="section_title">
			<h3> votre Performance</h3>
		</div>

		<p> MR  <span>@Model.C_Forname @Model.C_Lastname</span></p>

		<p> superviseur : <span> @Model.superviser.C_Lastname  @Model.superviser.C_Forname</span> </p>
		<p> Note Auto : <span> @Model.performance.gloabalAutoNote</span> </p>
		<p> Rank  Auto est :  <span> @Model.performance.RankingAuto</span> </p>
		<p> Note 360 est : <span> @Model.performance.global360Note</span> </p>
		<p> Rank 360 est :  <span> @Model.performance.Ranking360</span> </p>

		<p> Note Globale est : <span> @Model.performance.globalPerformance</span> </p>
		<p> Rank global est : <span> @Model.performance.globalRanking</span> </p>
	</div>







</div>










