@model PiProject.web.Models.Collaborator.RenderTestList

@{
	ViewBag.Title = "AutoTests";
	Layout = "~/Views/Collaborator/_LayoutCollaboratorDashboard.cshtml";
}

@Styles.Render("~/content/CollaboratorTestStyle.css")

<div class="render_container">
	<div class="message">
		<p> you are invited to <span> @Model.TestsList.Count()</span> 360 Tests affected to you </p>
	</div>



	<div class="table_test">
		<table class="table table-condensed" id="catalogIndexTable">
			<thead>
				<tr>
					<th> Id</th>
					<th> Test </th>
					<th> Type </th>
					<th> NbreQuestions </th>
					<th> global Note So far </th>
					<th> Nbre Participants </th>
					<th> target </th>
					<th> Answer </th>


				</tr>


			</thead>
			<tbody>
				@foreach (var test in Model.TestsList)
			{
					<tr class="assetRow">
						<td class="">@test.ID</td>
						<td class="">@test.Description</td>
						<td class="">@test.tType</td>
						<td class="">@test.NbreQuestions</td>
						<td class="">@test.globaloNoteSoFar</td>
						<td class="">@test.NbreParticipants</td>
						<td class="">

							<div id="targetList">
								@foreach (var target in test.targetList)
								{

									<p> @target.C_Lastname @target.C_Lastname</p>
								}
							</div>
						</td>
						<td class="buton"> @Html.ActionLink("Answer", "AnswerTest", new { id = test.ID }, new { @class = "btn btn-dark" })</td>
					</tr>

			}

			</tbody>
		</table>








	</div>


	<div class="aside_bar">
		<div class="section_title">
			<h3> Section</h3>
		</div>

		
	</div>






</div>

















